/* задание 1 */

.fnt {
	height: 700px;
	width: 700px;
	background-color: #0d5825;
	position: absolute;
}

blockquote {
	text-align: center;
	color: white;
	font-size: 25px;
}
blockquote p {
	margin-top: 2px;
	margin-bottom: 2px;
}

blockquote p::after {
	content: " ”";
}

blockquote p::before {
	content: "“ ";
}

.tp {
	margin-top: 10px;
	position: relative;
}

.allk {
	transition: ease-in-out 1s all;
}

.k {
	width: 150px;
	height: 200px;
	border-color: #0d5825;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	position: relative;
	top: 180px;
	left: calc(50% - 25px);
	border-radius: 6%;
	transform: rotate(15deg);
	z-index: 30;
	transition: ease-in-out 0.3s all;
}

.k:hover {
	width: 150px;
	height: 200px;
	border-color: #0d5825;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	position: relative;
	top: 160px;
	left: calc(50% - 15px);
	border-radius: 6%;
	transform: rotate(15deg);
	z-index: 30;
	transition: ease-in-out 0.3s all;
}

.k2 {
	width: 150px;
	height: 200px;
	background-color: white;
	position: relative;
	top: -50px;
	left: calc(50% - 75px);
	border-radius: 6%;
	transform: rotate(-5deg);
	z-index: 29;
	border-color: #0d5825;
	border-style: solid;
	border-width: 1px;
	transition: ease-in-out 0.3s all;
}

.k2:hover {
	width: 150px;
	height: 200px;
	background-color: white;
	position: relative;
	top: -80px;
	left: calc(50% - 75px);
	border-radius: 6%;
	transform: rotate(-5deg);
	z-index: 29;
	border-color: #0d5825;
	border-style: solid;
	border-width: 1px;
	transition: ease-in-out 0.3s all;
}

.k3 {
	width: 150px;
	height: 200px;
	background-color: white;
	position: relative;
	top: -260px;
	left: calc(50% - 135px);
	border-radius: 6%;
	transform: rotate(-25deg);
	z-index: 28;
	border-color: #0d5825;
	border-style: solid;
	border-width: 1px;
	transition: ease-in-out 0.3s all;
}

.k3:hover {
	width: 150px;
	height: 200px;
	background-color: white;
	position: relative;
	top: -280px;
	left: calc(50% - 145px);
	border-radius: 6%;
	transform: rotate(-25deg);
	z-index: 28;
	border-color: #0d5825;
	border-style: solid;
	border-width: 1px;
	transition: ease-in-out 0.3s all;
}

.big {
	font-size: 50px;

	color: red;
	position: relative;
	top: calc(50% - 75px);
	left: calc(50% - 12.5px);
}

.duo {
	font-size: 20px;
	color: red;
	position: relative;
	left: 3px;
	top: -140px;
}

.duo p {
	margin-top: -15px;
	margin-bottom: -10px;
}

.duo2 {
	font-size: 20px;
	color: red;
	position: relative;
	left: -3px;
	top: -25px;
	transform: rotate(180deg);
}

.duo2 p {
	margin-top: -15px;
	margin-bottom: -10px;
}

.t {
	font-size: 30px;
}

.little {
	position: relative;
}

/* Задание 2 */
.tt2 {
	width: 200px;
	height: 200px;
	margin-top: 720px;
	position: absolute;
	left: 30px;
}

.t1 {
	width: 50px;
	height: 50px;
	background-color: red;
	position: relative;
	z-index: 1;
	left: calc(35% - 25px);
	top: calc(10%);
}

.t2 {
	width: 50px;
	height: 50px;
	background-color: blue;
	position: relative;
	z-index: 3;
	left: calc(50% - 25px);
	top: calc(0%);
}

.t3 {
	width: 50px;
	height: 50px;
	background-color: green;
	position: relative;
	z-index: 2;
	left: calc(65% - 25px);
	top: calc(-10%);
}

/* Задание 3 */

.menu-here {
	width: 20px;
	height: 1200px;
	background-color: gray;
	position: absolute;
	z-index: 999;
	transition: ease-in-out 0.3s all;
}

.menuname {
	color: white;
	text-align: justify;
	transform: rotate(90deg);
	position: relative;
	float: right;
	left: 5px;
	top: 400px;
}

.menuname p {
	width: 150px;
	height: 137px;
}

.menu-here:hover .vis {
	visibility: hidden;
}

.menu-here:hover {
	width: 400px;
	transition: ease-in-out 0.3s all;
}

.menu {
	position: absolute;
	visibility: hidden;
}

.menu-here:hover .menu {
	width: 200px;
	height: 400px;
	position: relative;
	visibility: visible;
	transition: ease-in-out 0.3s all;
	z-index: 99;
	top: 100px;
	left: 80px;
}

.menu-here a {
	color: white;
	text-decoration: none;
}

.menu-here a:hover {
	color: yellow;
}

.r {
	width: 10px;
	height: 10px;
	background-color: rgb(172, 172, 10);
	position: relative;
	z-index: 33;
	transform: rotate(45deg);
	visibility: hidden;
}

.r1 {
	width: 10px;
	height: 10px;
	background-color: rgb(172, 172, 10);
	position: relative;
	z-index: 33;
	transform: rotate(45deg);
	visibility: hidden;
}

.r2 {
	width: 10px;
	height: 10px;
	background-color: rgb(172, 172, 10);
	position: relative;
	z-index: 33;
	transform: rotate(45deg);
	visibility: hidden;
}

.r3 {
	width: 10px;
	height: 10px;
	background-color: rgb(172, 172, 10);
	position: relative;
	z-index: 33;
	transform: rotate(45deg);
	visibility: hidden;
}

.r4 {
	width: 10px;
	height: 10px;
	background-color: rgb(172, 172, 10);
	position: relative;
	z-index: 33;
	transform: rotate(45deg);
	visibility: hidden;
}

.menu-here:hover .r {
	position: relative;
	visibility: visible;
	left: calc(15%);
	top: calc(-24.8%);
}

.menu-here:hover .r1 {
	position: relative;
	visibility: visible;
	left: calc(15%);
	top: calc(-22.8%);
}

.menu-here:hover .r2 {
	position: relative;
	visibility: visible;
	left: calc(15%);
	top: calc(-20.8%);
}

.menu-here:hover .r3 {
	position: relative;
	visibility: visible;
	left: calc(15%);
	top: calc(-18.8%);
}

.menu-here:hover .r4 {
	position: relative;
	visibility: visible;
	left: calc(15%);
	top: calc(-16.8%);
}

.kv {
	width: 100px;
	height: 100px;
	margin-top: 950px;
	position: absolute;
	left: 50px;
	animation: rain 4s infinite normal both;
}

@keyframes rain {
	0% {
		transform: translate(0px, 0px);
		background-color: red;
	}
	25% {
		transform: translate(0px, 150px);
		background-color: blue;
	}
	50% {
		transform: translate(150px, 150px);
		background-color: green;
	}

	75% {
		transform: translate(150px, 0px);
		background-color: yellow;
	}

	100% {
		transform: translate(0px, 0px);
		background-color: red;
	}
}