html,
body {
   height: 100%;
}
body {
   display: flex;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
   position: relative;
}
footer {
   flex-shrink: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 120px;
   max-width: 100%;
   background-color: #cfb81d;
}

.logo {
   min-height: 100%;
   margin-left: 10px;
}

.header ul {
   display: flex;
   justify-content: center;
   margin-right: 20px;
}

.header li {
   font-size: 18px;
   padding: 5px;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
}

.header li:hover {
   font-size: 22px;
   padding: 0;
   font-weight: bold;
   color: brown;
   padding-top: 20px;
   transition: all 0.3s ease-in-out;
}

.menu .opener {
   display: none;
}


.opener {
   float: right;
   width: 31px;
   height: 31px;
   background: #000;
   background: rgba(0, 0, 0, 0.5);
   position: relative;
   border-radius: 3px;
   text-indent: -9999px;
   overflow: hidden;
}
.opener:before,
.opener:after,
.opener span {
   background: #fff;
   border-radius: 4px;
   position: absolute;
   top: 16px;
   left: 25%;
   right: 25%;
   height: 3px;
   margin-top: -2px; 
   -webkit-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.opener:before,
.opener:after {
   content: "";
   top: 10px;
}
.opener:after {
   top: 22px;
}

.close-btn span,
.active .opener span {
   opacity: 0;
}
.opener:hover {
   opacity: 0.9;
}
.close-btn:after,
.close-btn:before,
.active .opener:after,
.active .opener:before {
   -moz-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   top: 16px;
   left: 15%;
   right: 15%;
}
.close-btn:after,
.active .opener:after {
   -moz-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

.main-menu {
   display: flex;
   flex-flow: wrap;
   max-width: 100%;
   justify-content: space-between;
   height: calc(100%);
}

.ftr {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   min-height: 50px;
   max-width: 100%;
   background-color: #9dea8a;
   font-weight: bold;
}

footer {
   z-index: 99999;
}

.container {
   display: flex;
   flex-direction: column;
   max-width: calc(100% - 420px);
   order: 2;
}

.aside1 {
   display: flex;
   max-height: 100%;
   min-width: 210px;
   background-color: #c19ab9;
   order: 1;
}

.aside2 {
   display: flex;
   max-height: 100%;
   min-width: 210px;
   background-color: #a0b0c7;
   order: 3;
}

.main-menu p {
   text-align: center;
   font-weight: bold;
   margin: 0 auto;
   padding: 15px;
}

.container p {
   padding: 30px 20px 0px 20px;
}

.bls {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: space-around;
   flex-shrink: 0;
   font-size: 14px;
   padding: 0 20px 0 20px;
}

.work {
   text-align: center;
   font-weight: bold;
   font-size: 25px;
   min-width: 100%;
   padding-top: 10px;
}

.karta {
   min-width: 300px;
   max-width: 300px;
   min-height: 400px;
   padding: 10px 10px 10px 10px;
   margin: 10px 5px 10px 5px;
   border-style: solid;
   border-radius: 15px;
   border-color: black;
   border-width: 1px;
   transition: all 0.3s ease-in-out;
}

.karta:hover {
   background-color: yellow;
   transition: all 0.3s ease-in-out;
   padding-top: 5px;
}

.pict {
   max-width: 100px;
   min-height: 100px;
   border-radius: 50px;
   background-image: url(../img/favicon.ico);
   border-color: #c3b3b4;
   border-style: solid;
   border-width: 10px;
   left: calc(50% - 50px);
   position: relative;
}

.con p {
   font-size: 18px;
   padding-top: 15px;
   padding-bottom: 25px;
}

.but {
   background-color: #665074;
   color: white;
   max-width: 50px;
   min-height: 30px;
   border-radius: 20px;
   border-color: #c3b3b4;
   border-width: 10px;
   left: calc(50% - 25px);
   position: relative;
   padding: 10px;
   top: calc(70% - 20px);
   transition: all 0.3s ease-in-out;
}

.but:hover {
   background-color: green;
   transition: all 0.3s ease-in-out;
}

.Item {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.Item:nth-of-type(1) {
   order: 1;
   min-width: 50%;
   min-height: 50%;
   flex-grow: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: red;
   border-radius: 25px 0 0 0;
}

.Item:nth-of-type(5) {
   order: 2;
   min-width: 50%;
   min-height: 50%;
   flex-grow: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: yellow;
   border-radius: 0 25px 0 0;
}

.Item:nth-of-type(3) {
   order: 3;
   min-width: 30%;
   min-height: 50%;
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: violet;
}

.Item:nth-of-type(2) {
   order: 4;
   min-width: 30%;
   min-height: 50%;
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: blue;
}

.Item:nth-of-type(4) {
   order: 5;
   min-width: 30%;
   min-height: 50%;
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: green;
}

.bblok {
   display: flex;
   flex-wrap: wrap;
   min-width: 210px;
   min-height: 50px;
   border-color: black;
   border-width: 3px;
   border-style: solid;
   border-radius: 25px 25px 0 0;
}

@media (max-width: 865px) {
   .aside1 {
      min-width: 15%;
   }

   .aside2 {
      min-width: 15%;
   }
   .container {
      max-width: 70%;
   }
}

@media (max-width: 560px) {
   .header {
      min-height: 100%;
   }
}

@media only screen and (max-width: 513px) {
   .main-menu {
      flex-direction: column;
   }

   .aside1 {
      min-width: 100%;
      min-height: 100px;
   }

   .aside2 {
      min-width: 100%;
      min-height: 100px;
   }
   .container {
      min-width: 100%;
   }

   .header {
      padding: 20px 10px;
   }
   .menu .opener {
      display: block;
   }
   .menu .drop {
      overflow: hidden;
      position: absolute;
      top: 85px;
      z-index: 999;
   }
      .menu .drop > ul {
      background: #cfb81d;
   }
   
   .menu li {
      padding: 0 15px;
   }


   .wrap.side-slide .drop {
      min-width: 100%;
      left: 100%;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
   }
   .wrap.side-slide .drop > ul {
      display: none;
   }
   .wrap.side-slide.active .drop > ul {
      display: flex;
   }
   .wrap.side-slide.active .drop {
      left: 0;
   }
   
}
