blockquote h3
{
   color: blueviolet;
}

.list a[href^='https://']
{
   color: red;
}

.list > li:last-child a
{
   color: green;
}

.holder ul + p
{
   font-size: 26px;
}

.text-box h3:first-child
{
   color: pink;
}

#greycol
{
   color: grey;
}


.text-box div > p
{
   color: red;
}

.text-box h3:nth-child(even) + p
{
   color: green;
}

.text-box p.yellow
{
   color: yellow;
}

.bg-box
{
   height: 300px;
   width: 500px;
   background: green border-box;
   background: url(/img/grass.png)  bottom / auto 10% repeat-x border-box;
   background: url(/img/lamp.png) top / auto 5% repeat-x border-box;
   background: url(/img/pon.png) right / auto 5% repeat-y border-box;
   background: url(/img/hedgehog.png) left / auto 5% repeat-y border-box;
   background: url(/img/dom.jpg) center center / auto 60% no-repeat border-box;
/*   background-image: url(img/grass.png) bottom  repeat-x content-box;
   background-image: url(img/hedgehog.png)right / 100px 100px repeat-y content-box;
   background-image: url(img/lamp.png) top  / 100px 100px repeat-x content-box;
   background-image: url(img/pon.png) left / 100px 100px repeat-y content-box;*/
}

.bg-box:nth-child(1)
{
   height: 300px;
   width: 500px;
   background: url(/img/hedgehog.png) left / auto 5% repeat-y border-box;
}