.bb {
   width: 200px;
   height: 30px;
   background-color: yellow;
   border: dashed 2px red;
   box-sizing: border-box;
   margin: 5px;
   padding: 5px;
}

.nbb {
   width: 200px;
   height: 30px;
   background-color: rgb(0, 255, 55);
   border: dashed 2px red;
   margin: 5px;
   padding: 5px;
}

.cl {
   width: 350px;
   height: 220px;
   margin: 0px 0px 30px 0px;
   padding: 15px 10px 20px 10px;
   border: dashed 2px red;
   background: green;
}

p {
   background-color: rgb(255, 0, 149);
}

.cbl {
   width: 1200px;
   height: 300px;
   padding: 10px;
   text-align: justify;
}

.left {
   margin: 0px 25px 10px 0px;
   float: left;
   width: 200px;
   height: 120px;
   display: flex;
}

.right {
   margin: 25px 0px 10px 25px;
   float: right;
   width: 150px;
   height: 80px;
   display: flex;
}
