html,
body {
   height: 100%;
}
body {
   display: flex;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
   position: relative;
}
footer {
   flex-shrink: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.back {
   display: flex;
   align-items: center;
   
   height: 120px;
   width: 100%;
   /* margin: 0 auto; */
   /* padding: 0; */
   background-color: #cfb81d;
}

.logo {
   width: 210px;
   height: 100px;
   background: url(../img/logo.PNG) center no-repeat;
   background-size: 90%;
   margin-left: 10px;
   position: fixed;
}

.back ul {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-left: calc(100% - 300px);
   position: relative;
}

.back li {
   font-size: 18px;
   padding: 5px;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
}

.back li:hover {
   font-size: 22px;
   padding: 5px;
   font-weight: bold;
   color: brown;
   padding-top: 20px;
   transition: all 0.3s ease-in-out;
}

.main-menu {
   display: flex;
   flex-flow: wrap;
   justify-content: space-between;
   height: calc(100%);
}

.ftr {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   height: 50px;
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: #9dea8a;
   font-weight: bold;
}

footer {
   z-index: 99999;
}

.container {
   display: flex;
   flex-direction: column;
   /* min-height: 900px; */
   width: calc(100% - 420px);
   background-color: white;
   order: 2;
}

.aside1 {
   display: flex;
   height: 100%;
   width: 210px;
   background-color: #c19ab9;
   order: 1;
}

.aside2 {
   display: flex;
   height: 100%;
   width: 210px;
   background-color: #a0b0c7;
   order: 3;
}

.main-menu p {
   text-align: center;
   font-weight: bold;
   padding: 15px calc(50% - 20px);
}

.container p {
   padding: 30px 20px 0px 20px;
}

.bls {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   flex-shrink: 0;
   height: 80%;
   width: 100%;
   position: relative;
   font-size: 14px;
}

.work {
   text-align: center;
   font-weight: bold;
   font-size: 25px;
   width: 100%;
   padding-top: 10px;
}

.karta {
   width: 300px;
   height: 400px;
   padding: 10px 10px 10px 10px;
   margin: 10px 5px 10px 5px;
   border-style: solid;
   border-radius: 15px;
   border-color: black;
   border-width: 1px;
   transition: all 0.3s ease-in-out;
}

.karta:hover {
   background-color: yellow;
   transition: all 0.3s ease-in-out;
   padding-top: 5px;
}

.pict {
   width: 100px;
   height: 100px;
   border-radius: 50px;
   background-image: url(../img/favicon.ico);
   border-color: #c3b3b4;
   border-style: solid;
   border-width: 10px;
   left: calc(50% - 50px);
   position: relative;
}

.con p {
   font-size: 18px;
   padding-top: 15px;
   padding-bottom: 25px;
}

.but {
   background-color: #665074;
   color: white;
   width: 50px;
   height: 30px;
   border-radius: 20px;
   border-color: #c3b3b4;
   border-width: 10px;
   left: calc(50% - 25px);
   position: relative;
   padding: 10px;
   top: calc(70% - 20px);
   transition: all 0.3s ease-in-out;
}

.but:hover {
   background-color: green;
   transition: all 0.3s ease-in-out;
}

.Item {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}


.Item:nth-of-type(1){
   order: 1;
   width: 50%;
   height: 50%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 25px 0 0 0;
}

.Item:nth-of-type(5){
   order: 2;
   width: 50%;
   height: 50%;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-radius: 0 25px 0 0;
}

.Item:nth-of-type(3){
   order: 3;
   width: 30%;
   height: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
}

.Item:nth-of-type(2){
   order: 4;
   width: 30%;
   height: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.Item:nth-of-type(4){
   order: 5;
   width: 30%;
   height: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}



.bblok {
   display: flex;
   flex-wrap: wrap;
   width: 210px;
   height: 50px;
   border-color: black;
   border-width: 3px;
   border-style: solid;
   border-radius: 25px 25px 0 0;
}


